volumes:
  data-db:
services:
  app:
    container_name: 'spring-eureka'
    restart: unless-stopped
    build:
      dockerfile: ./Dockerfile
      context: ./
    ports:
      - "8761:8761"
    volumes:
      - data-db:/app/data
    environment:
      JAVA_VM_OPTIONS: "-Xmx512m -Xms256m -Dmanagement.tracing.enabled=false -Dmanagement.otlp.metrics.export.enabled=false"
      MANAGEMENT_TRACING_ENABLED: 'false'
      MANAGEMENT_OTLP_METRICS_EXPORT_ENABLED: 'false'
      HIBERNATE_DIALECT: 'org.hibernate.dialect.MySQLDialect'
      SPRING_DATASOURCE_DRIVERCLASSNAME: 'com.mysql.cj.jdbc.Driver'
      SPRING_DATASOURCE_URL: 'jdbc:mysql://mysql-db:3306/eurekadb'
      SPRING_DATASOURCE_USERNAME: 'root'
      SPRING_DATASOURCE_PASSWORD: 'Password123'
    depends_on:
      - mysql-db
  mysql-db:
    image: mysql:9
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: "Password123"
      MYSQL_DATABASE: "eurekadb"
    ports:
      - "3306:3306"
    volumes:
      - data-db:/var/lib/postgresql/data