spring:
  application:
    name: ${APP_NAME:spring-cloud-eureka}
  batch:
    jdbc:
      initialize-schema: embedded
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/EUREKADB;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      dialect: org.hibernate.dialect.H2Dialect
server:
  port: ${PORT:8761}
  servlet:
    context-path: ${SERVER_CONTEXT_PATH:/}
eureka:
  server:
    peer-node-read-timeout-ms: 3000
  instance:
    leaseRenewalIntervalInSeconds: 30
    health-check-url-path: /actuator/health
    preferIpAddress: ${EUREKA_INSTANCE_PREFER_IP_ADDRESS:false}
    metadata-map:
      username: ${SPRING_REGISTER_METRICS_USERNAME:metrics}
      password: ${SPRING_REGISTER_METRICS_PASSWORD:changeit}
  client:
    registryFetchIntervalSeconds: ${EUREKA_CLIENT_FETCH_REGISTRY_INTERVAL_SECONDS:20}
    register-with-eureka: ${EUREKA_CLIENT_REGISTER_WITH_EUREKA:false}
    fetch-registry: ${EUREKA_CLIENT_FETCH_REGISTRY:false}
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL:http://localhost:${server.port}/eureka/}
management:
  server:
    port: ${MANAGEMENT_PORT:8761}
  endpoints:
    web:
      exposure:
        include: '*'
      cors:
        allowed-origins: ${MANAGEMENT_CORS_ALLOWED_ORIGINS:'*'}
        allowed-methods: ${MANAGEMENT_CORS_ALLOWED_METHODS:'*'}
        max-age: ${MANAGEMENT_CORS_ALLOWED_MAXAGE:3600}
    jmx:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: when_authorized
      show-components: when_authorized
    configprops:
      show-values: when_authorized
    env:
      show-values: when_authorized
  tracing:
    sampling:
      probability: 1.0
  otlp:
    metrics:
      export:
        url: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318}/v1/metrics
        batchSize: 10000
        aggregationTemporality: cumulative
        step: 1m
        enabled: ${MANAGEMENT_OTLP_METRICS_EXPORT_ENABLED:true}
    tracing:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318}/v1/traces